<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>63816251055-k83qmt2chtpp0dlac4mq2oev47rrp8ij.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.63816251055-k83qmt2chtpp0dlac4mq2oev47rrp8ij</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>63816251055-ap4isifmm5s56cfhqnqkkbjgenm2mlun.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyACZNPp0Wrd9wGCYkDH7FIYGACsEEX2Nhs</string>
	<key>GCM_SENDER_ID</key>
	<string>63816251055</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.humanverse.humanverseapp</string>
	<key>PROJECT_ID</key>
	<string>humanverse-57f4d</string>
	<key>STORAGE_BUCKET</key>
	<string>humanverse-57f4d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:63816251055:ios:02e34c73fcca3d0c50c65a</string>
</dict>
</plist>